<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiApiKey</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>OpenDataApiKey</key>
	<string>${OPEN_DATA_API_KEY}</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱 사용시 위치 권한을 부여합니다.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>apis.data.go.kr</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
